button {
  background-color: #f9de4b;
  color: #6d6d4d;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:disabled {
    text-decoration: none;
    cursor: default;
  }
}
